@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Urbanist:wght@400;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}
.full-screen-height {
  height: 100vh;
}

@media (max-width: 1024px) {
  .full-screen-height {
      height: 75vh; /* Adjust height for medium screens */
  }
}

@media (max-width: 768px) {
  .full-screen-height {
      height: 50vh; /* Adjust height for small screens */
  }
}

@media (max-width: 640px) {
  .full-screen-height {
      height: 40vh; /* Adjust height for extra small screens */
  }
}
.slider {
  max-width: max-content;
  height: auto;
  margin: 0 auto;
  margin: 0 5%;
  overflow: hidden;
  padding: 0 20px;
  -webkit-mask: linear-gradient(90deg, transparent, white 45%, white 65%, transparent);
  mask: linear-gradient(90deg, transparent, white 45%, white 65%, transparent);
  margin: 0 5%;
  background-color: #FFFFFFCC;
}
.slider .slide-track{
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(200px * 10);
  -webkit-animation: scroll 30s linear infinite;
}
.slider .slide {
  width: 200px;
  margin: 0 10px;
}
.slider .slide img {
  width: 100%;
  height: auto;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 5));
  }
}